.hallScheme {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.hall {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.screen {
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
}

span {
    margin-right: 50px;
}

.legend {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.legendItem {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.legendItemReserved {
    width: 20px;
    height: 20px;
    background-color: #f50057;
    margin-right: 10px;
}
.legendItemFree {
    width: 20px;
    height: 20px;
    background-color: #000000;
    margin-right: 10px;
}
.legendItemSelected {
    width: 20px;
    height: 20px;
    background-color: #3f51b5;
    margin-right: 10px;
}
